In [45]:
# dependencies
# import module to create file that works on all OS
# import pandas (strings)
# import numpy (numbers)
import os
import pandas as pd
import numpy as np

In [46]:
# make a reference to the budget_data.csv file path
csv_path = "budget_data.csv"

# import the budget_data.csv file as a dataframe
budget_df = pd.read_csv(csv_path, encoding="utf-8")
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [47]:
# count number of months
total_months = budget_df.shape[0]
total_months

86

In [48]:
# check data types
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [64]:
# total profit / loss for time period
total = budget_df['Profit/Losses'].sum()

# print total profit / loss with commas
print("{:,}".format(total));

38,382,578

In [113]:
# all changes
all_changes = budget_df['Profit/Losses'].diff()
all_changes.head()

0        NaN
1        NaN
2        NaN
3    -391430
4     379920
Name: Profit/Losses, dtype: object

In [77]:
# average change
average_change = all_changes.mean()

# round number
average_change
print(round(average_change))

-2315

In [82]:
# greatest increase in profits
greatest_increase = all_changes.max()

# print greatest increase with commas
print("{:,}".format(greatest_increase));
greatest_increase

1,926,159.0

1926159.0

In [83]:
# greatest increase date - index
greatest_increase_index = all_changes.idxmax()
greatest_increase_index

25

In [84]:
# greatest increase date... oops pulled entire row
print(budget_df.loc[[25]])

        Date  Profit/Losses
25  Feb-2012        1170593

In [110]:
# greatest increase date
greatest_increase_date = budget_df.iloc[25,0]
greatest_increase_date

'Feb-2012'

In [85]:
# greatest decrease in losses
greatest_decrease = all_changes.min()

# print greatest decrease with commas
print("{:,}".format(greatest_decrease));
greatest_decrease

-2,196,167.0

-2196167.0

In [86]:
# greatest decrease date - index
greatest_decrease_index = all_changes.idxmin()
greatest_decrease_index

44

In [111]:
# greatest decrease date
greatest_decrease_date = budget_df.iloc[44,0]
greatest_decrease_date

'Sep-2013'

In [112]:
# create a DataFrame with financial analysis summary
Financial_Analysis_Summary = pd.DataFrame(
    {"Total Months": [total_months], "Total Revnue": [total],
     "Greatest Increase": [greatest_increase], "GI Month": [greatest_increase_date],
     "Greatest Dcerease": [greatest_decrease], "GD Month": [greatest_decrease_date],
     })

Financial_Analysis_Summary

,Total Months,Total Revnue,Greatest Increase,GI Month,Greatest Dcerease,GD Month
0,86,38382578,1926159.0,Feb-2012,-2196167.0,Sep-2013