In [3]:
# dependencies
# import module to create file that works on all OS
# import pandas (strings)
# import numpy (numbers)
import os
import pandas as pd
import numpy as np

In [4]:
# make a reference to the election_data.csv file path
csv_path = "election_data.csv"

# import the election_data.csv file as a dataframe
election_df = pd.read_csv(csv_path, encoding="utf-8")
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
# count number of votes
total_votes = election_df.shape[0]
print("{:,}".format(total_votes));

3,521,001

In [6]:
# find unique candidates
candidates = election_df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [58]:
# find how many votes each candidate received
# provides in a SERIES - which is 1 column of data you can pull with index number
candidate_votes = election_df["Candidate"].value_counts()
candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [34]:
# find how many votes each candidate received
# provides in a SERIES - which is 1 column of data you can pull with index number
candidate_votes = election_df["Candidate"].value_counts()
candidate_percentages = candidate_votes/total_votes*100
candidate_percentages

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [61]:
winner = candidate_votes.max()
winner

2218231

In [52]:
Khan_percentage = candidate_percentages[0]
Khan_percentage
print(round(Khan_percentage))

63.0

In [53]:
Correy_percentage = candidate_percentages[1]
Correy_percentage
print(round(Correy_percentage))

20.0

In [55]:
Li_percentage = candidate_percentages[2]
Li_percentage
print(round(Li_percentage))

14.0

In [57]:
OTooley_percentage = candidate_percentages[3]
OTooley_percentage
print(round(OTooley_percentage))

3.0